<div style="display: flex; justify-content: space-between;">
    <div style="width: 64%;">
        <h2>Subject: {{data.subject}} </h2>
        <h3>{{data.heading}}</h3>
        <p appMagnify> {{data.desc}} </p>

        <div *ngIf="data.related.length">
            <strong>Related</strong>
            <ul *ngFor="let value of data.related | alphabeticalOrder:'desc' ">
                <li><a href="#">{{ value }}</a></li>
            </ul>
        </div>
    </div>
    <app-form style="width: 34%;"></app-form>
</div>